body {
    background-color: #F0ECCF;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 5px;
    width: 5%;
}

h1{
    color: #D06224;
}

h3{
    color: #D06224;
}